<h1>id = <%= @task.id %> のメッセージ詳細ページ</h1>

<p>ステイタス: <%= @task.status %></p>
<p>メッセージ: <%= @task.content %></p>

<%= link_to 'このメッセージを編集する', edit_task_path(@task), class: "btn btn-primary" %>
<%= link_to 'このメッセージを削除する', @task, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: "btn btn-primary" %>